<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Online Bank</title>
		<link rel="stylesheet" href="/css/transactions.css"/>
	</head>
	<body>
		<h2>Transaction History</h2>
		
		<table>
			<tr>
				<th>ID</th>
				<th>Date</th>
				<th>Retailer</th>
				<th>Funds In</th>
				<th>Funds Out</th>
			</tr>
			
			
			<!-- These 4 rows below are for demonstration purposes only //TYPE D= FundsOUT  TYPE C=FUNDS IN
			     You will need to edit the code below in order to make
			     it dynamically list ALL 100 transactions from the Repo -->
			<tr th:each="storedTransaction : ${transaction}">
				<td><a th:href="@{/transactions/{transactionId}(transactionId=${storedTransaction.id})}" 
											th:text="${storedTransaction.id}"></a></td>
				<td><div th:text="${storedTransaction.date}"></div></td>
				<td><div th:text="${storedTransaction.retailer}"></div></td>
				<td><div th:if= "${storedTransaction.type == 'C'}"><span th:text="${storedTransaction.amount}"></span></div></td>
				<td ><div th:if="${storedTransaction.type == 'D'}"><span th:text="${storedTransaction.amount}"></span></div></td>
			</tr>
			
			
		</table>
	</body>
</html>